
._.vscode
._Assignment 5.pdf
._Assignment4.docx
._assignment6.cpp
._Assignment6.docx
._bcd.cpp
._circuit1 - cropped.png
._circuit1.jpg
._circuit2 - cropped.png
._circuit2.jpg
._ex.cpp
._exPHP.html
._guessing_game.py
._reverseString.py
._test.c
.vscode/._tasks.json
.vscode/tasks.json
Assignment 5.pdf
Assignment4.docx
Assignment6.docx
circuit1 - cropped.png
circuit1.jpg
circuit2 - cropped.png
circuit2.jpg
guessing_game.py
ex.cpp
